<div class="admin-form theme-info" id="login1">
  <app-authheader></app-authheader>

  <div class="panel panel-info mt10 br-n">
    <div class="panel-heading heading-border bg-white">
      <span class="panel-title hidden">
        <i class="fa fa-sign-in"></i>Register</span
      >
      <app-social-login-buttons
        [socialLoginTypes]="socialLoginTypes"
        (socialButtonClicked)="socialButtonClicked($event)"
      ></app-social-login-buttons>
    </div>

    <!-- end .form-header section -->
    <div name="loginForm" id="loginForm" [formGroup]="loginForm">
      <div class="panel-body bg-light p30">
        <div class="row">
          <div class="col-sm-7 pr30">
            <div class="section">
              <label for="username" class="field-label text-muted fs18 mb10"
                >Username</label
              >
              <label for="username" class="field prepend-icon">
                <input
                  type="text"
                  name="username"
                  id="username"
                  formControlName="username"
                  class="gui-input"
                  placeholder="Enter username"
                />
                <label for="username" class="field-icon">
                  <i class="fa fa-user"></i>
                </label>
              </label>

              <div
                *ngIf="
                  username.errors && (username.invalid && username.touched)
                "
                class="text-danger"
              >
                <span *ngIf="username.errors?.required"
                  >Please enter username</span
                >
              </div>
            </div>
            <!-- end section -->

            <div class="section">
              <label for="username" class="field-label text-muted fs18 mb10"
                >Password</label
              >
              <label for="password" class="field prepend-icon">
                <input
                  type="password"
                  name="password"
                  id="password"
                  formControlName="password"
                  class="gui-input"
                  placeholder="Enter password"
                />
                <label for="password" class="field-icon">
                  <i class="fa fa-lock"></i>
                </label>
              </label>

              <div
                *ngIf="
                  password.errors && (password.invalid && password.touched)
                "
                class="text-danger"
              >
                <span *ngIf="password.errors?.required"
                  >Please enter password</span
                >
              </div>
              <br /><br />
              <div class="row">
                <div class="col-md-12">
                  <a routerLink="/auth/forgot" class="pull-right"
                    >Forgot Password</a
                  >
                </div>
              </div>
            </div>
            <!-- end section -->
          </div>
          <div class="col-sm-5 br-l br-grey pl30">
            <h3 class="mb25">You'll Have Access To Your:</h3>
            <p class="mb15">
              <span class="fa fa-check text-success pr5"></span> Unlimited Email
              Storage
            </p>
            <p class="mb15">
              <span class="fa fa-check text-success pr5"></span> Unlimited Photo
              Sharing/Storage
            </p>
            <p class="mb15">
              <span class="fa fa-check text-success pr5"></span> Unlimited
              Downloads
            </p>
            <p class="mb15">
              <span class="fa fa-check text-success pr5"></span> Unlimited
              Service Tickets
            </p>
          </div>
        </div>
      </div>
      <!-- end .form-body section -->
      <div class="panel-footer clearfix p10 ph15">
        <button
          type="submit"
          class="button btn-primary mr10 pull-right"
          (click)="login(loginForm)"
        >
          Sign In
        </button>
        <label class="switch ib switch-primary pull-left input-align mt10">
          <input type="checkbox" name="remember" id="remember" checked />
          <label for="remember" data-on="YES" data-off="NO"></label>
          <span>Remember me</span>
        </label>
      </div>
      <!-- end .form-footer section -->
    </div>
  </div>
</div>
