<div class="row mb15 table-layout">
  <div class="col-xs-6 va-m pln">
    <a href="dashboard.html" title="Return to Dashboard">
      <img
        src="assets/img/logos/logo_white.png"
        title="AdminDesigns Logo"
        class="img-responsive w250"
      />
    </a>
  </div>

  <div class="col-xs-6 text-right va-b pr5">
    <div class="login-links">
      <a routerLink="/auth/login" title="Sign In" routerLinkActive="active"
        >Sign In</a
      >
      <span class="text-white"> | </span>
      <a
        routerLink="/auth/register"
        class=""
        title="Register"
        routerLinkActive="active"
        >Register</a
      >
      <span class="text-white"> | </span>
      <a
        routerLink="/auth/forgot"
        class=""
        title="Frogot Password"
        routerLinkActive="active"
        >Frogot Password</a
      >
    </div>
  </div>
</div>
